include header.pug

block links
    link(rel='stylesheet', href='/stylesheets/event.css')

div.event-page
    h1 Event page
    a#create_event_link(href="/event/create")
        button#create_event.btn.btn-default(type="submit") Create An Event
    div.row.col-md-12
        each i in events
            div.col-md-4.card
                span Title: 
                span#event_title #{i.title}
                br
                span Date: 
                span#event_date #{i.date}
                br
                span Time: 
                span#event_time #{i.time}
                br
                a#event_detail_link(href="/event/detail/"+i._id)
                    button.event_detail.btn.btn-warning(type="submit") Detail

    script(src="/javascripts/event.js")
