include header.pug
block links
    link(rel='stylesheet', href='/stylesheets/friend.css')

block content
    h1 Friend Page
    div.col-md-4.column
        h4 Friend list
        ul#friend-list

    div.col-md-4.column
        h4 Search friend
        div#search-bar.input-group
            input.form-control.input-lg(type="text")
            span.input-group-addon.btn.btn-default Search
        ul#search-result

    div.col-md-4.column
        h4 Apply list

    script(src="/javascripts/friend.js")