extends layout
block links
    link(rel='stylesheet', href='/stylesheets/register.css')

block content
    div.header-page
        nav.navbar.navbar-inverse.navbar-fixed-top
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href='/record') Cycle Track 101
    div.register-page
        div.title Register
        div
            if errors
                each error in errors
                    div.alert.alert-danger #{error.msg}
        form(action="/users/register" method="POST")
            div.form-group
                label(for="username") Username
                input#username.form-control(type="text" placeholder="Please enter your username" name="username")
            div.form-group
                label(for="password") Password
                input#password.form-control(type="password" placeholder="Please enter your password" name="password")
            div.form-group
                label(for="email") Email
                input#email.form-control(type="email" placeholder="Please enter your email number" name="email")
            button#register.btn.btn-default(type="submit") Register
            a#login(href="/users/login") Login
