.create-event {
    padding: 20px;
    width: 100%;
    height: calc(100% - 50px);
}

#event_form {
    margin: 30px;
    width: 70%;
}

#create_publish {
    width: 80px;
}

#right {
    float: right;
    margin-right: 50px;
    width: 40%;
}

#left {
    float: left;
    width: 40%;
}