.login-page {
    margin: 80px 120px;
    width: 60%;
}

.title {
    height: 60px;
    font-size: 30px;
    font-weight: bold;
}

#login {
    margin-right: 15px;
    margin-top: 0px;
    width: 100px;
}

#register {
    margin-left: 10px;
}