.login-page {
    margin: 50px;
}

.title {
    height: 60px;
    font-size: 30px;
    font-weight: bold;
}

#login {
    margin-right: 15px;
}

#register {
    display: inline-block;
    margin-top: 5px;
    margin-left: 1px;
}